<!DOCTYPE html> 
<html>
<head>
	<title>Dashboard</title>
		<!-- css -->
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css">
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>

</head>
<body>
	<div  class="container-fluid" >
		<div class="row">
			  <div class="dashboard-nav">
			    <nav class="navbar">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						</button>
					</div>

					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
						<li>
							<a href="#takeControl">Notification: <label id="totalNotifications">0</label></a>
						</li>
						<li class="dropdown">
					        <a class="dropdown-toggle" data-toggle="dropdown" href="#">User Name
					        <span class="caret"></span></a>
					        <ul class="dropdown-menu">
					          <li><a href="#">My account</a></li>
					          <li><a href="#">logout</a></li>
					        </ul>
					     </li>
						<li class="dropdown">
					        <a class="dropdown-toggle" data-toggle="dropdown" href="#">History
					        <span class="caret"></span></a>
					        <ul class="dropdown-menu">
					          <li><a href="#">User History</a></li>
					          <li><a href="#">Project History</a></li>		
					        </ul>
					     </li>
						<li>
							<a href="#betterDecisions">Admin</a>
						</li>
						<li>
							<a href="#pricing">Community</a>
						</li>
						<li class="dropdown">
					        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Help
					        <span class="caret"></span></a>
					        <ul class="dropdown-menu pull-right">
					          <li><a href="#">Help Content</a></li>
					          <li><a href="#">Help on this Page</a></li>
	       			        </ul>
					     </li>
						</ul>
					</div>

				</nav>
			  </div>
		</div>


       <div class="body-wrapper">
			<div class="row">
		       <div class="col-sd-12">
		        <ul class="nav nav-tabs" style="text-align:center; font-weight: bold; color: black;">
                        <li style="width: 14.28%"> <a href="dashboard.html">Dashboard</a> </li>
                        <li style="width: 14.28%"> <a href="home.html">Home</a></li>
                        <li style="width: 14.28%"> <a href="risk.html">Risk Analysis</a> </li>
                        <li style="width: 14.28%"> <a href="data-deid.html">Data De-Identification</a> </li>
                        <li style="width: 14.28%"> <a href="doc-deid.html">Doc De-Identification</a> </li>
                        <li style="width: 14.28%"> <a href="anonymization.html">Anonymization</a> </li>
		                <li style="width: 14.28%" class="active"> <a data-toggle="tab" href="#currenttab">Reports</a> </li>
		            
		            </ul>
		          
			   
		            <div class="tab-content row active" >
		                <div id="currenttab" class="tab-pane fade in active border row" style=" background-color:lightgrey">
				                <div class="col-md-3">
				                    
				                    <!-- heading -->
				                    <div class="row">
				                        <div class="col-md-12">
				                            <h1 class="pull-left notif-head">Notifications</h1>
				                            <i class="fa fa-bell-o notification"></i>
				                        </div>
				                    </div>
				
				                    <div ng-app="myApp" class="row">
				                        <div class="col-md-12">
				                          <div style="background-color: white;direction: ltl; height: 650px; overflow-x: hidden;">
				                          
				                    <!-- ------------------------------------------------- -->
				                                <div  ng-controller="filterCtrl" style="padding-left: 10px">
				                                    <table st-table="displayCollection" st-safe-src="rowCollection" st-set-filter="myStrictFilter" class="table table-striped">
				                                        <thead>
				                                            <!-- <tr >
				                                                <th st-sort="status"></th>
				                                                <th st-sort="notification"></th>
				                                                <th st-sort="timestamp"></th>
				                                                <th st-sort="action"></th>
				                                            </tr> -->
				                                            <tr>
				                                            <th  st-ratio="10" align="right"></th>
				                                                <th colspan="4"  st-ratio="80"
				                                                    class="form-group text-center search-container" >
				                                                 <input st-search placeholder=" Search Notifications " class="fa fa-search form-control" type="search" />                                                       
				    
				                                                </th>
				                                                <th  colspan="2" st-ratio="10" align="right"></th>
				                                            </tr>
				                                            <tr>
				                                                <th  st-ratio="10" align="right"></th>
				                                                <th colspan="2" st-ratio="50" >
				                                                <select st-input-event="change" st-search="status">
				                                                        <option value=""> Show Only </option>
				                                                        <option ng-repeat="row in rowCollection | unique:'status'"  value="{{row.status}}">{{row.status}}</option>
				                                                </select></th>
				                                                <th  st-ratio="10" align="right"></th>
				                                                <th  colspan="2" st-ratio="35" align="right">
				                                                    <select st-input-event="change">
					                                                    <option>Bulk actions</option>
					                                                    <option>Mark Unread</option>
					                                                    <option>Mark Read</option>
				                                                    </select>
				                                                </th>
				                                                <th  st-ratio="10" align="right"></th>
				                                                
				                                            </tr>
				                                        </thead>
				                                        <tbody>
				                                            <tr ng-repeat="row in displayCollection">
				                                                <td st-ratio="10">{{$index+1}}</td>
				                                                <!-- <td st-ratio="10" class="fa fa-square {{ row.status | lowercase}}-notification">&nbsp</td> -->
				                                                <td st-ratio="10"><i class="fa fa-square {{ row.status | lowercase}}-notification"></i></td>
				                                                <td st-ratio="50">{{row.notification}}</td>
				                                                <td st-ratio="20">{{row.timestamp}}</td>
				                                                <td st-ratio="5" > <span ng-if="'Today' ==  row.timestamp" class="fa fa-exclamation-triangle {{ row.status | lowercase}}-notification"></span></td>
				                                                <td st-ratio="5"><input type="checkbox" name="">&nbsp;<td>
				                                            </tr>
				                                        </tbody>
				                                        <!-- <tfoot>
				                                            <tr>
				                                                <td colspan="5" class="text-center">
				                                                    <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="3"></div>
				                                                </td>
				                                            </tr>
				                                        </tfoot> -->
				                                    </table>
				                                </div>
				                        <!-- ------------------------------------------------- -->
				                              
				                          </div>    
				                        </div>
				                    </div>
				
				                </div>  
				
				                <div class="col-md-9" style="padding-left:5%;height:100%;background-color:lightgrey">
				                <div ng-app="myApp1" id="myApp1"  class="row">
				                	<div class="class="col-sd-12">
				                		
				                		 <div class=" row btn-group ">
										   
										   <ul class="pager">
										  
											  <li><a href="#" class="btn btn-default btn-lg active"  ng-click="setActiveTab('1')" >Standard Reports</a></li>
											  
											  <li><a href="#" class="btn btn-default btn-lg"  ng-click="setActiveTab('2')">Other Reports</a></li>
											</ul>					   
										 </div>
										 <div class="row">							  	
										 	<div id="standardReport"> <img class="img-responsive" src="Images/standard Image.png" alt="Standrad Report"> </div>
										 </div>
				                	
				                	</div>
				                </div>
				                
				                     
		                    </div> 
		                </div>
		            </div>
		        </div>			

        </div>
    </div>
 
</div> <!-- container-fluid -->
 <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
 <script src="js/angular-datatables.min.js"></script>
<script src="js/controller.js"></script>
<script src="js/smart-table.js"></script>
<script src="js/utils.js"></script>
<script type="text/javascript">


var app = angular.module('myApp1', []);
app.controller('buttonCtrl', function($scope){
	$scope.setActiveTab = function(tabToSet) {
		alert('here');
        $scope.activeTab = tabToSet;
    }
});

</script>
</body>
</html>