<div class="tab-content row active" >
	<div id="currenttab" class="tab-pane fade in active border row" style=" background-color:lightgrey">
    	<div class="col-md-3">
               <!-- heading -->
               <div class="row">
                   <div class="col-md-12">
                       <h1 class="pull-left notif-head">Notifications</h1>
                       <i class="fa fa-bell-o notification"></i>
                   </div>
               </div>

               <div ng-app="myApp" class="row">
                   <div class="col-md-12">
                     <div style="background-color: white;direction: ltl; height: 85vh; overflow-y: scroll; overflow-x: scroll;" >
                     
               <!-- ------------------------------------------------- -->
                           <div class="table-responsive"  ng-controller="filterCtrl" style="padding-left: 10px">
                               <table st-table="displayCollection" st-safe-src="rowCollection"  class="table table-striped">
                                   <thead>				                                           
                                       <tr>				                                        
                                           <th colspan="2" st-ratio="100"  class="form-group search-container" style="padding-left: 7%" >
                                           	<input st-search placeholder=" Search Notifications " class="fa fa-search form-control" type="search" />  
                                           </th>
                                       </tr>
                                       <tr>
                                           <th st-ratio="50"  class="text-center">
                                            <select st-input-event="change" st-search="status">
                                                    <option value=""> Show All </option>
                                                    <option ng-repeat="row in rowCollection | unique:'status'"  value="{{row.status}}">{{row.status}}</option>
                                            </select>
                                           </th>				                                                
                                           <th  align="right" st-ratio="50">
                                               <select ng-model="bulkAct" ng-change="myFunc()">
                                                   <option value="">Bulk Actions</option>
                                                   <option value="markUnread">Mark Unread</option>
                                                   <option value="markRead">Mark Read</option>
                                               </select>
                                           </th>
                                       </tr>
                                   </thead>
                                   <tbody>
                                       <tr  >
                                       	<td colspan="2"  st-ratio="100">
                                        	<table class="table table-striped table-hover" ng-repeat="row in displayCollection" style="margin-bottom: 0px; padding: 0px">
                                         	<tr class="{{row.timestamp}}">				                                            	
                                          	<td width="5%" >{{$index+1}}</td>
                                              <td width="10%"><i class="fa fa-square {{ row.status | lowercase}}-notification"></i></td>
                                              <td width="40%">{{row.notification}}</td>
                                              <td width="25%">{{row.timestamp}}</td>
                                              <td width="10%"><span ng-if="'High' ==  row.status" class="fa fa-exclamation-triangle {{ row.status | lowercase}}-notification"></span></td>
                                              <td width="10%"><input type="checkbox" name="notificationCheckbox">&nbsp;<td>
                                         	</tr>
                                        	</table> 
                                       	</td>
                                       </tr>
                                   </tbody>
                                  
                               </table>
                           </div>
                   <!-- ------------------------------------------------- -->
                         
                     </div>    
                   </div>
               </div>

           </div>  

           <div class="col-md-9" style="padding-left:5%;height:100%;background-color:lightgrey">
	           <div ng-app="myApp1" id="myApp1"  class="row">
		           	<div class="class="col-sd-12">
		           		
		           		 <div class=" row btn-group ">
						   <ul class="pager">
						  
							  <li><a href="#" class="btn btn-default btn-lg active"  ng-click="setActiveTab('1')" >Standard Reports</a></li>
							  
							  <li><a href="#" class="btn btn-default btn-lg"  ng-click="setActiveTab('2')">Other Reports</a></li>
							</ul>					   
						 </div>
						 <div class="row">							  	
						 	<div id="standardReport"> <img class="img-responsive" src="Images/standard Image.png" alt="Standrad Report"> </div>
						 </div>           	
		           	</div>
	           </div>
           
                
          </div> 
    </div>
</div>