<div  ng-include="'header.html'" class="clearfix"></div>
<div  ng-include="'top_inner_nav.html'" class="clearfix"></div>
<div  ng-include="'notification-panel.html'" class="clearfix"></div>
<div class="container">
	
	 
	<div class="row" style="padding-top:10px;">


	<div class="col-sm-6 col-md-4">
		<div class="thumbnail tile tile-medium tile-color4">
	        <a ui-sref="data-deid" class="fa-links">
	            <h2>Data De-ID</h2>
	                <i class="fa fa-5x  fa-delicious"></i>
			</a>
		</div>
	</div>
	<div class="col-sm-6 col-md-4">
		<div class="thumbnail tile tile-medium tile-color5">
	        <a ui-sref="doc-deid" class="fa-links">
	            <h2>Doc De-ID</h2>
	                <i class="fa fa-5x  fa-wpforms"></i>
			</a>
		</div>
	</div>
	<div class="col-sm-6 col-md-4">
		<div class="thumbnail tile tile-medium tile-color3">
	        <a ui-sref="risk-analysis" class="fa-links">
	            <h2>Risk Analysis</h2>
	                <i class="fa fa-5x fa-bolt"></i>
			</a>
	    </div>
	</div>
	<div class="col-sm-6 col-md-4">
		<div class="thumbnail tile tile-medium tile-color6">
	        <a ui-sref="data-utility" class="fa-links">
	            <h2>Data Utility</h2>
	                <i class="fa fa-5x fa-th-list"></i>
			</a>
		</div>
	</div>
	<div class="col-sm-6 col-md-4">
		<div class="thumbnail tile tile-medium tile-orange">
	        <a ui-sref="anonymization" class="fa-links">
	            <h2>Anonymization</h2>
	                <i class="fa fa-5x fa-th-large"></i>
			</a>
		</div>
	</div>
	
	<div class="col-sm-6 col-md-4">
		<div class="thumbnail tile tile-medium tile-green">
	        <a ui-sref="reports" class="fa-links">
	            <h2>Reports</h2>
	                <i class="fa fa-5x fa-bar-chart"></i>
			</a>
	    </div>
	</div>
	
      
  	</div>
</div>