<section>
        <div id="gceproj"></div>
        <div class="container">
            <div class="admin-log">
                <div class="text-center logo"> <img class="gce-logo" src="Images/Shadow_Square_Color_Inverted_RGB (1).gif"> </div>
                <div class="gceproj-container">
                    <form class="form-signin" id="drpxlog-login-form" name="loginForm" role="form"  method="post" >
                        <div class="form-group">
                            <input type="email" value="" class="form-control" placeholder="User Name"  required="required">
                        </div>
                        <div class="form-group">
                            <input type="password" value="" class="form-control" placeholder="Password"  required="required">
                        </div>
                        <!--<div class="alert alert-danger">
                            <p>error </p>
                        </div>-->
                        <button class="btn btn-block w600" ui-sref="dashboard">Sign in</button>
                    </form>
                    <a href="#"  class="password-link"><small>Forgot your password?</small></a><br><br>
                    <small class="register-link"><b>Don't have an account ?  <a href="#">Register Here</a> </b></small>
                </div>
            </div>
        </div>
</section>