@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i);
body {
    font-family: 'Open Sans', sans-serif;;
}
/* @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i');
body {
  font-family: 'Source Sans Pro', sans-serif;
} */
 
/* @import url('https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,500,700');
body{margin: 0; padding: 0; font-family: 'Ubuntu', sans-serif;  } */
.w700{
	font-weight:700;
}
::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: #d9d9de;
  min-height: 36px;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(192, 64, 64, 0.5);
}

::-webkit-scrollbar-thumb:horizontal {
  background: #d9d9de;
  min-height: 36px;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:vertical {
  background: #d9d9de;
  min-height: 36px;
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background-color: #f3f3f3;
}
a:hover {
    text-decoration: none;
    cursor: pointer;
    color:#84BD00;
}
.logo{
    font-size:26px;
    /*color: #9c2523;*/
    color:#263973;
    font-weight: 700;
}
a:focus {
    outline: none;
    text-decoration: none;
}
th,tr{
	text-align:center;
}
#container {
    width: 100%;
    height: 100%;
}
#gceproj{
    /*background-color: #006cc2;*/
    /*background-color: #333;*/

    background:
        /* top, transparent red, faked with gradient */
            linear-gradient(
                    rgba(0, 0, 0, 0.85),
                    rgba(0, 0, 0, 0.85)
            ),
                /* bottom, image */
            url("../Images/loginbg.jpg") no-repeat fixed center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    opacity:0.85;
}

.admin-log {
    margin: -175px -115px;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 230px;

}

.gceproj-container {
    padding: 15px 0px 40px;
    margin: 0 auto;
    border-radius: 3px;
    margin-top: 15px;
}
.gce-logo {
    height: 145px;
    width: 220px;
}
.gce-logo-horiz {
    height: 26px;
    width: 165px;
}
.gceproj-container .form-group {
    margin-bottom: 8px;
}
.gceproj-container h2 {
    padding: 0 0 15px;
    margin-top: 0;
    color: #00796b;
}

.gceproj-container .form-group input {
    height: auto;
    margin-bottom: 12px;
    padding: 9px;
    border-radius: 3px!important;
    border: none;
    color: #34495e;
    box-shadow: none;
    background: #edf3f3;
    outline: 0;
    font-size: 13px;
}

.gceproj-container .btn {
    color: #ffffff;
    font-size: 14px;
    padding: 7px 15px;
    margin-top: 18px;
    margin-bottom: 18px;
    text-transform: uppercase;
}

.gceproj-container .btn,
.gceproj-container .btn:hover {
    /*background-color: #9c2523;*/
    /* background-color: #0173c5; */
    background-color:#84BD00;
    border-radius: 3px;
}
.password-link{
    margin-left:50px;
    color:#ffffff;
}
.register-link {
    color: #ffffff;
}
.register-link a{
    color: #84BD00;
}
.innernav{
  width: 100%;
 /*  background:#e0e0e0; */
  height:45px;
  border-color: #84BD00;
}
ul.nav-tabs li{
	width:12%;
}
ul.nav-tabs li:nth-child(3) {
    width:14%;
}
ul.nav-tabs li:nth-child(4) {
    width:14%;
}
ul.nav-tabs a{
text-align:center;

}
ul.nav-tabs li a:hover{
  border-color: transparent;
  background-color: transparent;
  border-bottom: 3px solid #84BD00;
  transition: .3s ease-in-out;
  color:#84BD00;
}
ul.nav-tabs li a.active1{
  border-color: transparent;
  background-color: transparent;
  border-bottom: 3px solid #84BD00;
  transition: .3s ease-in-out;
  color:#84BD00;
}

ul.nav-tabs li.active a, ul.nav-tabs li.active a:hover, ul.nav-tabs li.active a:focus, ul.nav-tabs li.active a:active{
  border-color: transparent;
  margin-bottom: 0px;
  border-bottom: 3px solid #ff5722;
}

/* Existing css */
/*dashboard page*/
.body-wrapper{ padding-top: 10px;}
.dashboard-nav{width: 100%; float: left; 
/* background: #263973; */
background:#33475C;
padding-left:15px;padding-right:15px;}
.dashboard-nav .navbar{margin-bottom: 0; float: right;}
.dashboard-nav span.icon-bar{background: white;}

.navbar-nav a{color: white;}
.navbar-nav a span.timeclr{color: darkgrey;}

.header-text {
    position: relative;
    display: block;
    padding: 15px;
    line-height: 20px;
}

.header-text-color {
    color: white;
}

.dashboard-nav a:hover , .dashboard-nav a:active{background-color: transparent !important;}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: transparent;
    border-color: none;
}
.notif-head{width: 80%;
    text-align: center; background-color:#9c9c9c;    margin: 0;
    color: white;    font-size: 30px;
    line-height: 2.4;}
i.notification{font-size: 33px;
    line-height: 1;
    padding: 20px 23px;
    background: grey;
    color: black;
    font-weight: bold;
    width: 20%;
    text-align: center;}

.table-white{background-color: white;}
 input#search_projects{width: 73%;}
.table-white>div{ padding-top: 20px; padding-bottom: 20px;}
.table-white td , .table-white th{ padding: 10px; text-align: center;}
.table-white th{background-color:#F1F1F1;border: 2px solid white;}
.actions i{    font-size: 22px;
    padding: 0px 5px;}

.warning,.completed,.error{color: white; display: block; padding: 5px;
    font-size: 17px;}    
.warning{ color: #F0AD57;}
.completed{ color: #5FB863;}
.error{ color: #D95250;}
.notif-row{    background-color: #D7D7D7;
    display: inline-block;
    width: 100%;
        padding: 20px;}
.notif-row>div{float: left; padding: 0 4%;}
.notif-row>div>span{display: block;}
.notif-row .fa{    font-size: 25px;
    line-height: 1.5;}
.notif-name span:nth-child(2){color: white;}  
.notif-time{font-size: 14px; color: grey;    font-size: 12px; line-height: 20px;}  
.col-sm-6{padding-top:10px;padding-right:20px;}

.search-container{padding-top: 20px;}
.search-container>div{position: relative; display: inline;}
.search-container input{ width: 80%; height: 30px; text-align: center;}
.search-container i{position: absolute;     top: 0;
    left: 32%;}
.table-options-sm{display: none;}
/*.table-options-sm>div>div{max-width: 500px;
    margin: 0 auto;}*/

.warning-notification{
	color: #F0AD57;	
}
.completed-notification{
	color: #5FB863;	
}

.high-notification{
	color: red;	
}

.notif-row input[type="checkbox"]{zoom:2;}
/* .pagination li a{color: black;}
.pagination li a , .pagination li a:hover{background-color: transparent !important; border: 0 !important;}
.pagination li.active a{background-color: #1F9CE5 !important;} */

.pagination {
    display: inline-block;
}

.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination li.active a{
    background-color: #84BD00;
    color: white;
}

.pagination li:hover:not(.active) {background-color: #84BD00;}
    color: white;
}
 
 

.warning-notification{
	color: #F0AD57;	
}
.completed-notification{
	color: #5FB863;	
}

.high-notification{
	color: red;	
}

.Today{
		font-weight: bold;
}
	



@media(max-width:480px){
	/*login page*/
	.main , .container-login{display: block;}
	.container-login{padding-top: 20vh;}

	/*dashboard page*/
	.add_scroll{overflow-x: scroll;}
     input#search_projects{width: 100%;}

}

@media(max-width: 991px){
    /*dashboard page*/
    .dashboard-nav .navbar{float: none;}
    .table-options-sm{display: block;}
    .table-options-lg{display: none;}
    .notif-options{margin:10px 0;}

}
/* Existing css end */
a.list-group-item, button.list-group-item{
	font-size:12px;
	word-spacing: 10px;
}
span.nfname{
	display: inline-block;
    width: 100px;
}

#not-inner-left {
    height: 350px;
    max-height: 350px;
    overflow-y: scroll;
}
.noti-search{
	padding-bottom:5px;
	padding-left:6px;
	padding-right:6px; 
}
.noti-search input{
	width:138px; 
	height:25px;
}
/* slide notification panel */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 104px;;
    left: 0;
    background-color: #f5f5f5;
    overflow-x: hidden;
    transition: 0.5s;
}

 

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}
.notitable{
	font-size:12px;
}
.leftarw {
    left: 0;
}
.arrows {
    position: fixed;
    z-index: 9999;
    width: 40px;
    height: 50px;
    background: rgba(129, 195, 94, 0.82);;
    color: #fff;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    top: 70%;
}
.icon-bar {
    width: 100%;
    background-color: #555;
    overflow: auto;
}
.dp{
	background-color:#e0e0e0;
	color:#ffffff;
}
.icon-bar a {
    float: left;
    width: 14%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 16px;
}

.icon-bar a:hover {
    background-color: #000;
}

.active {
    background-color: #4CAF50 !important;
}

.tile.tile-medium {
    height: 160px;
    width: 350px;
}
.tile.tile-green {
    background-color: #00bcd4;
}
.tile.tile-orange {
    background-color: #ff8000;
}
.tile.tile-color3 {
    background-color: #408080;
}
.tile.tile-color4 {
    background-color: #5d4037;
}
.tile.tile-color5 {
    background-color: #ff8080;
}
.tile.tile-color6 {
    background-color: #f44336;
}
.tile a {
	color: #fff;
}
.tile {
    display: block;
    cursor: pointer;
    -webkit-perspective: 0;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: -webkit-transform .2s;
    float: left;
    min-width: 75px;
    min-height: 75px;
    text-align: center;
    opacity: .75;
    background-color: #2e8bcc;
    z-index: 1;
    border: 4px #fff solid;
    
}
.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.428571429;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.panel-heading{
	background-color:#e0e0e0
}
.undercns{
	padding:80px;	
}
.undercns img{
	width:auto;
	height:275px;
}
.st-column-menu ul
{
	list-style-type: none;
}